#
0-1-lab/
env/
hard_spheres/
lecture_examples/
viriale-analisys/


mc-lj/.f2py-jit/
mc-lj/.pantarei/
mc-lj/awa/
mc-lj/coslo/
mc-lj/data_correlation/
mc-lj/*.zip
mc-lj/*.gz
mc-lj/*.png
mc-lj/*.txt
mc-lj/awa/


polymer_chains/.pantarei/

*pycache*
*.mod
