0-1-lab/
env/
hard_spheres/
lecture_examples/
viriale-analisys/


mc-lj/.f2py-jit/
mc-lj/.pantarei/
mc-lj/awa/
mc-lj/coslo/
mc-lj/data_correlation/
mc-lj/*.zip
mc-lj/*.gz
mc-lj/*.png
mc-lj/*.txt
mc-lj/awa/

mc-GC/save_past/

project_colloids_polymers/hard_spheres_fortran/
project_colloids_polymers/trajectories/

*/.pantarei/*
*/.f2py-jit/*
*/.vscode/*

*pycache*
*.mod
*.png
*.txt
*.zip

*prova*

