argh==0.31.3
asttokens==3.0.0
blinker==1.4
comm==0.2.2
command-not-found==0.3
contourpy==1.2.0
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.13
decorator==5.2.1
dill==0.4.0
distro==1.7.0
distro-info==1.1+ubuntu0.1
exceptiongroup==1.2.2
executing==2.2.0
f2py-jit==1.2.0
ffmpeg==1.4
fonttools==4.44.3
fortls==3.2.2
future==1.0.0
git-filter-repo==2.47.0
httplib2==0.20.2
imageio-ffmpeg==0.4.9
importlib-metadata==4.6.4
ipykernel==6.29.5
ipympl==0.9.7
ipython==8.34.0
ipywidgets==8.1.7
jedi==0.19.2
jeepney==0.7.1
json5==0.9.25
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
llvmlite==0.44.0
matplotlib==3.8.1
matplotlib-inline==0.1.7
more-itertools==8.10.0
mpmath==1.3.0
nest-asyncio==1.6.0
netifaces==0.11.0
numba==0.61.2
numpy==1.26.2
oauthlib==3.2.0
packaging==23.2
pantarei==0.9.1
parso==0.8.4
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.3.7
prompt_toolkit==3.0.50
psutil==5.9.6
ptyprocess==0.7.0
pure_eval==0.2.3
py3Dmol==2.4.2
Pygments==2.19.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
PyYAML==5.4.1
pyzmq==26.3.0
scipy==1.11.4
SecretStorage==3.3.1
six==1.16.0
stack-data==0.6.3
sympy==1.13.3
systemd-python==234
tinydb==4.8.2
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.13.0
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
UNKNOWN @ git+https://framagit.org/coslo/pantarei.git@66d6552cf9e80e4089db307294d7c348d45edfad
wadllib==1.3.6
wcwidth==0.2.13
widgetsnbextension==4.0.14
zipp==1.0.0
